//import


/* estilos main producto*/
.main-producto{
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        div{
            gap: $medida-cuarta;
            div{
                div{
                    h5{
                        @include tipografia (1.5rem, rgb(12, 11, 11), center)
                    }
                }
                
        }
    }
   
    }
}





