// import


/*estilos de main quiero revender */

.main-quierorevender{
    padding: $medida-quinta;
    h1{
        @include tipografia (3rem, rgb(1, 0, 5), center);
        margin: $medida-quinta;
    }
    section{
        @include flex;
    p{
        @include tipografia (1rem, rgb(1, 0, 5), center);

    }
    p{
        @include tipografia (1rem, rgb(1, 0, 5), center);

    }
    div{
        .formulario-quierorevender{
            padding: $medida-quinta;
            background-color: $color-quinto;
        .form-label {
            @include tipografia (1.5rem, rgb(12, 11, 11), left)
        }
        }
    }    
    }
    div{
        .imagenwap{
            @extend %logos;
        }
    }
}

/* mq tablet de quiero revender*/

@media screen and (min-width: 600px) {
    .main-quierorevender{
        padding: $medida-sexta;
    }
}

/* mq desktop quierorevender */

@media screen and (min-width: 1024px) {
    .main-quierorevender{
        padding: $medida-septima;
    }
}


    

