//import


/* estilos de main quienes somos */

.main-quienessomos{
    h1{
        @include tipografia (3rem, rgb(27, 6, 105), center)
    }
    div{
        p{
            @include tipografia (1rem, rgb(1, 0, 5), center);
          margin: $medida-sexta;
        }
    }
    div{
    }
}


/* mq tablet quienes somos */

@media screen and (min-width: 600px){
    .main-quienessomos{
        padding: $medida-sexta;
        section{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}    
        





/*  mq desktop  quienes somos */

@media screen and (min-width: 1024px){
    .main-quienessomos{
        div{
            p{
                @include tipografia (1.5rem, rgb(1, 0, 5), center);
            }
            .video-quienessomos{
                width: 700px;
                height: 400px;
                margin: $medida-sexta
            }
                 
        }
    }
           
}

