// colores

$color-principal: black;
$color-secundario: rgb(216, 201, 198);
$color-tercero: rgb(176, 182, 182);
$color-cuarto: whitesmoke;
$color-quinto: rgb(131, 131, 150);
$color-sexto: rgb(152, 175, 152);



$medida-principal: 100px;
$medida-secundaria: 50px;
$medida-tercera: 25px;
$medida-cuarta: 1rem;
$medida-quinta:2rem;
$medida-sexta: 3rem;
$medida-septima:6rem;





