// colores

$color-principal: black;
$color-secundario: rgb(235, 204, 198);
$color-tercero: rgb(94, 117, 117);
$color-cuarto: whitesmoke;
$color-quinto: rgb(172, 172, 219);


$medida-principal: 100px;
$medida-secundaria: 50px;
$medida-tercera: 25px;
$medida-cuarta: 1rem;
$medida-quinta:2rem;
$medida-sexta: 3rem;





